<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SistemaRecepcion.Configuracion.Conexion" connectionString="Data Source=RAVEN\SQLSERVER2008;Initial Catalog=dbBIOMEDICA;Integrated Security=True" />
        <add name="SistemaRecepcion.My.MySettings.Conexion" connectionString="Data Source=RAVEN\SQLSERVER2008;Initial Catalog=dbBIOMEDICA;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>